/* Basics */

body {
    background-color: rgb(117, 190, 100);
    margin: 0 0 0 0;
    min-width: 100vw;
}

#top_bar_wrapper {
    background-color: rgb(77, 127, 66);
    box-shadow: 0em 0.5em 1em black;
    height: 4em;
    position: absolute;
    width: 100vw;
    top: 0;
}

main {
    min-height: 100vh;
}

#feature_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 13em;
    position: relative;
}

#option_selector {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.toggle-left-arrow {
    background-color: rgba(173, 210, 124, 0);
    border-radius: 0.5em 0 0 0.5em;
    height: 4em;
    margin: 0 0.25em 0 0.25em;
    width: 4em;
}

.toggle-right-arrow {
    background-color: rgba(173, 210, 124, 0);
    border-radius: 0 0.5em 0.5em 0;
    height: 4em;
    margin: 0 0.25em 0 0.25em;
    width: 4em;
}

.toggle-right-arrow:hover, .toggle-left-arrow:hover {
    background-color: rgb(174, 198, 119);
}

img {
    display: block;
    height: 80%;
    margin: 5px auto auto auto;
}

/* Options Element */
#options {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5em;
    min-width: 40em;
    text-shadow: 0.0em 0.0em 0.5em black;
}

#options p {
    color: antiquewhite;
    display: inline-block;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    vertical-align: center;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-option-left, .hidden-option-right {
    display: none;
}

.option-left {
    background-color: rgb(81, 150, 66);
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0 0 0.25em black;
    height: 4em;
    width: 12em;
}

.option-right {
    background-color: rgb(81, 150, 66);
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: 0 0 0.25em black;
    height: 4em;
    width: 12em;
}

.option-main {
    background-color: rgb(77, 127, 66);
    border-radius: 0.5em;
    box-shadow: 0 0 0.25em black;
    height: 5em;
    width: 16em;
    z-index: 2;
}

.option-left:hover, .option-right:hover, .option-main:hover {
    background-color: rgb(106, 183, 165);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    background-color: rgb(81, 150, 66);
    bottom: 0;
    box-shadow: 0em -0.25em 1em black;;
    color: white;
    font-size: 1em;
    padding: 1em 0 1em 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color:rgb(204, 231, 141)
}

/* Animation Toggle Option Left */

.grow-option-from-left {
    display: flex;
    animation-name: grow-option-from-left;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

@keyframes grow-option-from-left {
    0% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0em;
        height: 0em;
        width: 0em;
    }
    
    100% {
        background-color: rgba(81, 150, 66);
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 0 0.25em black;
        font-size: 1em;
        height: 4em;
        width: 12em;
    }
}

.occupy-option-middle {
    animation-name: occupy-option-middle;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

@keyframes occupy-option-middle {
    0% {
        background-color: rgb(81, 150, 66);
        border-radius: 0.5em 0 0 0.5em;
        height: 4em;
        width: 12em;
        z-index: 1;
    }
    
    100% {
        background-color: rgb(77, 127, 66);
        border-radius: 0.5em;
        height: 5em;
        width: 16em;
        z-index: 2;
    }
}

.occupy-option-right {
    animation-name: occupy-option-right;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-option-right {
    0% {
        background-color: rgb(77, 127, 66);
        border-radius: 0.5em;
        height: 5em;
        width: 16em;
        z-index: 2;
    }
    
    100% {
        background-color: rgb(81, 150, 66);
        border-radius: 0 0.5em 0.5em 0;
        height: 4em;
        width: 12em;
        z-index: 1;
    }
}

.shrink-option-to-right {
    animation-name: shrink-option-to-right;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes shrink-option-to-right {
    0% {
        background-color: rgb(81, 150, 66);
        height: 4em;
        width: 12em;
    }
    
    100% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0.25em;
        height: 0em;
        width: 0em;
    }
}

/* Animation Toggle Option Right */

.grow-option-from-right {
    display: flex;
    animation-name: grow-option-from-right;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

@keyframes grow-option-from-right {
    0% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0em;
        height: 0em;
        width: 0em;
    }
    
    100% {
        background-color: rgba(81, 150, 66);
        border-radius: 0 0.5em 0.5em 0;
        box-shadow: 0 0 0.25em black;
        font-size: 1em;
        height: 4em;
        width: 12em;
    }
}

/* .occupy-option-middle is located above, this is a repeat animation */

.occupy-option-left {
    animation-name: occupy-option-left;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-option-left {
    0% {
        background-color: rgb(77, 127, 66);
        border-radius: 0.5em;
        height: 5em;
        width: 16em;
        z-index: 2;
    }
    
    100% {
        background-color: rgb(81, 150, 66);
        border-radius: 0.5em 0 0 0.5em;
        height: 4em;
        width: 12em;
        z-index: 1;
    }
}

.shrink-option-to-left {
    animation-name: shrink-option-to-left;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes shrink-option-to-left {
    0% {
        background-color: rgb(81, 150, 66);
        height: 4em;
        width: 12em;
    }
    
    100% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0em;
        height: 0em;
        width: 0em;
    }
}

/* Time Selection CSS */

#time {
    width: 40em;
    height: 5em;
}

#time p {
    color: antiquewhite;
    font-weight: 500;
    font-size: 2em;
    text-shadow: 0.0em 0.0em 0.25em black;
}

.invisible {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.time-main {
    background-color: rgb(77, 127, 66);
    border-radius: 0.5em;
    box-shadow: 0 0 0.25em black;
    height: 5em;
    width: 10em;
    z-index: 2;
}

.time-left {
    background-color: rgb(81, 150, 66);
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0 0 0.25em black;
    height: 4em;
    width: 8em;
    z-index: 1;
}

.time-right {
    background-color: rgb(81, 150, 66);
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: 0 0 0.25em black;
    height: 4em;
    width: 8em;
    z-index: 1;
}

.time-leftmost {
    background-color: rgb(120, 183, 106);
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0 0 0.25em black;
    height: 3.5em;
    width: 7em;
    z-index: 0;
}

.time-rightmost {
    background-color: rgb(120, 183, 106);
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: 0 0 0.25em black;
    height: 3.5em;
    width: 7em;
    z-index: 0;
}

.hidden-time-left, .hidden-time-right {
    display: none;
}

.hover-highlight:hover {
    background-color: rgb(106, 183, 165);
}

/* Animation Toggle Time Left */

.grow-time-from-left { 
    display: flex;
    animation-name: grow-time-from-left;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

@keyframes grow-time-from-left {
    0% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0em;
        height: 0em;
        width: 0em;
    }
    
    100% {
        background-color: rgb(120, 183, 106);
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 0 0.25em black;
        font-size: 1em;
        height: 3.5em;
        width: 7em;
        z-index: 0;
    }
}

.occupy-time-left-from-left {
    display: flex;
    animation-name: occupy-time-left-from-left;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-time-left-from-left {
    0% {
        background-color: rgb(120, 183, 106);
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 0 0.25em black;
        font-size: 1em;
        height: 3.5em;
        width: 7em;
        z-index: 0;
    }
    
    100% {
        background-color: rgb(81, 150, 66);
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 0 0.25em black;
        height: 4em;
        width: 8em;
        z-index: 1;
    }
}

.occupy-time-middle {
    animation-name: occupy-time-middle;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

@keyframes occupy-time-middle {
    0% {
        background-color: rgb(81, 150, 66);
        /* border-radius: 0.5em 0 0 0.5em;  could be removed??*/
        box-shadow: 0 0 0.25em black;
        height: 4em;
        width: 8em;
        z-index: 1;
    }
    
    100% {
        background-color: rgb(77, 127, 66);
        border-radius: 0.5em;
        box-shadow: 0 0 0.25em black;
        height: 5em;
        width: 10em;
        z-index: 2;
    }
}

.occupy-time-right-from-middle {
    animation-name: occupy-time-right-from-middle;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-time-right-from-middle {
    0% {
        background-color: rgb(77, 127, 66);
        border-radius: 0.5em;
        box-shadow: 0 0 0.25em black;
        height: 5em;
        width: 10em;
        z-index: 2;
    }
    
    100% {
        background-color: rgb(81, 150, 66);
        border-radius: 0 0.5em 0.5em 0;
        box-shadow: 0 0 0.25em black;
        height: 4em;
        width: 8em;
        z-index: 1;
    }
}

.occupy-time-rightmost-from-left {
    animation-name: occupy-time-rightmost-from-left;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-time-rightmost-from-left {
    0% {
        background-color: rgb(81, 150, 66);
        border-radius: 0 0.5em 0.5em 0;
        box-shadow: 0 0 0.25em black;
        height: 4em;
        width: 8em;
        z-index: 1;
    }
    
    100% {
        background-color: rgb(120, 183, 106);
        border-radius: 0 0.5em 0.5em 0;
        box-shadow: 0 0 0.25em black;
        height: 3.5em;
        width: 7em;
        z-index: 0;
    }
}

.shrink-time-to-right {
    animation-name: shrink-time-to-right;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes shrink-time-to-right {
    0% {
        background-color: rgb(81, 150, 66);
        height: 3.5em;
        width: 7em;
    }
    
    100% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0.25em;
        height: 0em;
        width: 0em;
    }
}

/* Animation Toggle Time Right */

.grow-time-from-right { 
    display: flex;
    animation-name: grow-time-from-right;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; 
}

@keyframes grow-time-from-right {
    0% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0em;
        height: 0em;
        width: 0em;
    }
    
    100% {
        background-color: rgb(120, 183, 106);
        border-radius: 0 0.5em 0.5em 0;
        box-shadow: 0 0 0.25em black;
        font-size: 1em;
        height: 3.5em;
        width: 7em;
        z-index: 0;
    }
}

.occupy-time-right-from-right {
    display: flex;
    animation-name: occupy-time-right-from-right;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-time-right-from-right {
    0% {
        background-color: rgb(120, 183, 106);
        border-radius: 0 0.5em 0.5em 0;
        box-shadow: 0 0 0.25em black;
        font-size: 1em;
        height: 3.5em;
        width: 7em;
        z-index: 0;
    }
    
    100% {
        background-color: rgb(81, 150, 66);
        border-radius: 0 0.5em 0.5em 0;
        box-shadow: 0 0 0.25em black;
        height: 4em;
        width: 8em;
        z-index: 1;
    }
}

.occupy-time-left-from-middle {
    animation-name: occupy-time-left-from-middle;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-time-left-from-middle {
    0% {
        background-color: rgb(77, 127, 66);
        border-radius: 0.5em;
        box-shadow: 0 0 0.25em black;
        height: 5em;
        width: 10em;
        z-index: 2;
    }
    
    100% {
        background-color: rgb(81, 150, 66);
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 0 0.25em black;
        height: 4em;
        width: 8em;
        z-index: 1;
    }
}

.occupy-time-leftmost-from-right {
    animation-name: occupy-time-leftmost-from-right;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes occupy-time-leftmost-from-right {
    0% {
        background-color: rgb(81, 150, 66);
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 0 0.25em black;
        height: 4em;
        width: 8em;
        z-index: 1;
    }
    
    100% {
        background-color: rgb(120, 183, 106);
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: 0 0 0.25em black;
        height: 3.5em;
        width: 7em;
        z-index: 0;
    }
}

.shrink-time-to-left {
    animation-name: shrink-time-to-left;
    animation-duration: 0.32s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes shrink-time-to-left {
    0% {
        background-color: rgb(81, 150, 66);
        height: 3.5em;
        width: 7em;
    }
    
    100% {
        background-color: rgba(81, 150, 66, 0.1);
        font-size: 0.25em;
        height: 0em;
        width: 0em;
    }
}